<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {% block title %} {% endblock %} - Registration form </title>

<style>
    .post {
      padding: 10px;
      margin: 5px;
      background-color: #f3f3f3;
    }
    .alert{
    padding: 20px;
    margin: 5px;
    color: #970020;
    background-color: #ffd5de;
    }
    </style>
</head>
<body>
    <nav>
        <a href = "{{ url_for('index')}}">Home page</a>
        <a href = "#">login</a>
        <a href = "{{ url_for('register')}}">Registration</a>


    </nav>



</body>
</html>